* {
    user-select: none;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
}

p {
    height: 100px;
    width: 200px;
    font-size: 4em;
}