* {
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

img {
    position: absolute;
    top: 0;
    left: 0;
}

div {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid black;
}

.end {
    width: 100%;
    height: 100%;
    visibility: hidden;
    font-size: 10em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

p {
    position: absolute;
    border: 2px red solid;
    border-radius: 1%;
    color: red;
    height: 35px;
    font-size: 2em;
    margin: 0;
}